.logo {
  object-fit: cover;
  width: 40%;
  margin: 2rem;
}

.card {
    margin: auto
}

.heading {
    margin-bottom: 1rem;
}

.hintbox {
    margin-bottom: 1rem;
}

.submitBtn {
    margin-top: 1rem;
}
